PORT=3000

DB_USER=postgres
DB_HOST=db
DB_DATABASE=agrirslab
DB_PASSWORD=sua_senha_aqui
DB_PORT=5432

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false

SMTP_USER=seu_email@gmail.com
SMTP_PASS=sua_senha_app

CONTACT_TO_EMAIL=seu_email@gmail.com
CANDIDATE_TO_EMAIL=seu_email@gmail.com
SMTP_FROM=seu_email@gmail.com

JWT_SECRET=seu_jwt_secret
